/*html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.modal-dialog {
    width: calc(calc(100vw / 1920) * 592);
    max-width: 592px;
    margin: 2em auto;
}

.logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.modal-content {
    background: content-box;
    border: 0;
    width: fit-content;
}

.modal-header {
    border: none;
}

.modal-body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 12%, rgba(41, 25, 67, 1) 12%, rgba(41, 25, 67, 1) 60%, rgba(65, 24, 114, 1) 100%);
    width: fit-content;
    padding: 0;
    border-radius: 30px;
}

.btn-close {
    --bs-btn-close-opacity: 1;
    --bs-btn-close-bg: none;
    position: absolute;
    right: 2em;
    z-index: 1;
    top: 2em;
}

.btn-close:hover {
    opacity: 1;
}

.modal-body .carousel-slide img {
    width: 100%;
}

/* Carousel Container */
.carousel-container {
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    max-width: 592px;
}

/* Carousel Slides */
.carousel-slide {
    flex: 0 0 100%;
    transition: transform 0.3s ease-in-out;
    width: fit-content;
}

/* Dots Indicator */
.dots {
    text-align: center;
    position: relative;
    top: -15px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #140827;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #751fc9;
}

.slider-arrow {
    position: absolute;
    top: 5.5rem;
    background-color: #291943;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 25px;
}

.slider-arrow:hover {
    transition: all .2s ease;
    transform: scale(1.1);
}

.slider-arrow.prev {
    left: -4rem;
}

.slider-arrow.next {
    right: -4rem;
}

.slider-arrow.prev img {
    transform: rotateY(180deg);
}

.form-holder {
    width: 70%;
    margin: 30px auto auto;
}

.form-holder.in {
    margin: 0 auto auto;
}

.form-holder .social-login {
    align-items: center;
    align-content: center;
    display: flex;
    position: relative;
    height: calc(calc(100vw / 1920) * 48);
    max-height: 48px;
    margin: 2em auto;
}

.form-holder .social-login2 {
    align-items: center;
    align-content: center;
    display: flex;
    position: relative;
    margin: 1em auto 0;
}

.social-login2 .social-login{
    margin: 1em auto 0;
    padding: 0;
}

@media (max-width: 1400px) {
    .modal-dialog {
        width: calc(calc(100vw / 1920) * 792);
        margin: 4rem auto 2em;
    }
}


@media (max-width: 1000px) {
    .modal-dialog {
        width: calc(calc(100vw / 1920) * 1200);
        margin: 6rem auto 2em;
    }

    .social-login2 .social-login {
        margin: 2.5rem auto 0;
    }

    .social-login2{
        padding-bottom: 1.5rem;
    }
}

.form-holder .btn-social-large,
.form-holder .btn-social {
    margin: auto;
    border: 0;
    background: url("../img/user/Boton_01.png");
    background-size: cover;
    width: 189px;
    height: 48px;
    position: absolute;
}

.form-holder .btn-social:hover {
    background: url("../img/user/Boton_02.png");
    background-size: cover;
}

.form-holder .btn-social-large{
    background: url("../img/user/Boton_Largo_01.png") center center no-repeat;
    width: 100%;
    background-size: contain;
}

.form-holder .btn-social-large:hover {
    background: url("../img/user/Boton_Largo_02.png") center center no-repeat;
    background-size: contain;
}

.form-holder .place-l {
    left: 15px;
}

.form-holder .place-r {
    right: 15px;
}

.form-holder .divider-login,
.form-holder .divider {
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #412573;
    align-items: center;
    align-content: center;
    display: flex;
}

.form-holder .divider-login {
    margin-top: 2em;
}

.form-holder .divider-login p,
.form-holder .divider p {
    width: fit-content;
    background-color: #291943;
    margin: 0;
    transform: translateY(50%);
    margin-left: auto;
    margin-right: auto;
}

.form-holder .divider-login p{
    background-color: #341959;
}

.form-holder .sign-up-form {
    margin-top: 25px;
}

.form-holder .form-control {
    background-color: #140827;
    border: 2px solid #412573;
    border-radius: 7px;
}

.form-holder .form-control,
.form-holder .form-control::placeholder {
    color: white;
}

.form-holder .form-control:focus {
    box-shadow: 0 0 0 .2rem rgb(65, 37, 115);
}

.form-holder form .pass-clarification {
    color: #9cb1ff;
    margin: 0;
    position: absolute;
    font-size: .9rem;
}

.form-holder form .pass-forgot {
    color: #9cb1ff;
    margin: 0;
    font-size: .9rem;
    text-decoration: underline;
}

.form-holder form .pass-forgot:hover {
    color: #f4d404;
    text-decoration: none;
    margin: 0;
    font-size: .9rem;
}

#stateSelect {
    appearance: listbox;
}

.form-holder form button {
    width: 100%;
    height: 66px;
    color: black;
    background: url("../img/user/Boton-amarillo-01.png") center center no-repeat;
    background-size: contain;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

.form-holder form button:hover {
    background: url("../img/user/Boton-amarillo-02.png") center center no-repeat;
    background-size: contain;
}

.form-holder form .legal {
    color: #9cb1ff;
    margin: 0;
    font-size: .9rem;
    line-height: 1.1;
}

.form-holder form p a {
    color: #f4d404;
    text-decoration: underline;
}

.form-holder form p a:hover {
    color: #e0e0e0;
}

.col-12.no-top-margin {
    margin-top: calc(calc(100vw / 1920) * 12);
}

/* Hide the default checkbox input */
.custom-checkbox input {
    display: none;
}

/* Style the custom checkbox container */
.custom-checkbox .checkmark {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 2px solid #412573;
    background-color: #140827; /* Background color for unchecked state */
    border-radius: 3px;
    margin-right: 10px;
}

/* Style the image inside the checked checkbox */
.custom-checkbox input:checked + .checkmark img {
    display: block;
}

/* Hide the image by default */
.custom-checkbox .checkmark img {
    display: none;
}

/* Style the label text */
.custom-checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.center-vertically {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-backdrop {
    background-color: black; /* Change this to your desired background color */
    opacity: .9 !important; /* Change this to your desired opacity level */
}


